<div class="bs-sidebar affix">
	<ul class="nav bs-sidenav" id="courses-list">
	  {{#each}}
	    <li>{{#link-to 'course' this.id}}{{name}}{{/link-to}}</li>
	  {{/each}}
	</ul>
	</div>
	<div id="course-container">
	{{outlet}}
</div>