<button class="btn btn-lg btn-primary btn-block" id="create-note" {{action "create-note"}}>
Create Note
</button>
<div class="bs-sidebar affix">
  <ul class="nav bs-sidenav" id="notes-list">
    {{#each}}
      <li>{{#link-to 'note' this.noteID}}{{file_name}}{{/link-to}}</li>
    {{/each}}
  </ul>
</div>
<div id="note-container">
  {{outlet}}
</div>